-- SQL to update favorites table structure
-- This script updates the favorites table to match the new entity structure
-- that uses a simple auto-generated ID instead of a composite key

-- Step 1: Add the new id column
ALTER TABLE favorites ADD COLUMN id BIGSERIAL PRIMARY KEY;

-- Step 2: Add unique constraint to prevent duplicate favorites
ALTER TABLE favorites ADD CONSTRAINT uk_favorite_user_book UNIQUE (user_id, book_id);

-- Step 3: Add indexes for better performance (if they don't exist)
CREATE INDEX IF NOT EXISTS idx_favorite_user_id ON favorites (user_id);
CREATE INDEX IF NOT EXISTS idx_favorite_book_id ON favorites (book_id);
CREATE INDEX IF NOT EXISTS idx_favorite_created_at ON favorites (created_at);

-- Step 4: Verify the table structure
-- You can run this to check the result:
-- \d favorites

-- Alternative approach (if you want to start fresh):
-- If you prefer to recreate the table completely, you can run:

-- Drop and recreate the favorites table
-- Note: BIGSERIAL automatically creates the sequence for auto-incrementing ID
DROP TABLE IF EXISTS favorites CASCADE;

CREATE TABLE favorites (
    id BIGSERIAL PRIMARY KEY,
    user_id BIGINT NOT NULL,
    book_id BIGINT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT uk_favorite_user_book UNIQUE (user_id, book_id),
    CONSTRAINT fk_favorite_user FOREIGN KEY (user_id) REFERENCES users(id),
    CONSTRAINT fk_favorite_book FOREIGN KEY (book_id) REFERENCES books(id)
);

-- Add indexes
CREATE INDEX idx_favorite_user_id ON favorites (user_id);
CREATE INDEX idx_favorite_book_id ON favorites (book_id);
CREATE INDEX idx_favorite_created_at ON favorites (created_at);

-- Verify the sequence was created
-- You can check with: \d favorites_id_seq
